.left {
    float: left;
    width: 40%;
}
.right {
    margin-left: 41%;
}

.monospace {
    font-family: monospace;
}

.input {
    height: 80vh;
    width: 100%
}

.node {
    list-style-type: none;
}
.node:not(.has-children):before {
    content: '-';
}
.node.has-children.hidden-children:before {
    content: '►';
}
.node.has-children:not(.hidden-children):before {
    content: '▼';
}

.hidden-children > ul {
    display: none;
}

.time {
    margin-left: 6px;
}